.selectors-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .selectors-container {
    gap: 1rem;
  }
}