#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2em;
}

th, td {
  border: 1px solid #555;
  padding: 0.5em;
  text-align: left;
}

th {
  background-color: #333;
}

div {
  margin-bottom: 2em;
}